$primary : #07313A;
$secondary : #ffcd03;
:root {
    --parsyn-primary: #07313A;
    --parsyn-secondary: #ffcd03;
    --parsyn-passive-text-l1: #989898;
    --parsyn-passive-text-l2: #888887;
    --sb-track-color: #dcdfe0;
    --sb-thumb-color: #07313a;
    --sb-size: .313rem;
    --panel-bg-fill: var(--parsyn-secondary) !important;
    --pointer-bg: var(--parsyn-primary) !important;
    --pointer-bg-hover: var(--parsyn-secondary) !important;
    --pointer-bg-focus: var(--parsyn-primary) !important;
    --pointer-shadow: 0 0 0 3px #fff, 0 0 0 6px var(--parsyn-primary) !important;
    --pointer-shadow-hover: 0 0 0 3px #fff, 0 0 0 6px var(--parsyn-primary) !important;
    --pointer-shadow-focus: 0 0 0 3px #fff, 0 0 0 6px var(--parsyn-primary) !important;
}