@media screen and (min-width: 489px) and (max-width: 1081px) {
  .groupped-iformation-section {
    display: flex;
    flex-direction: column !important;
    background-color: #f7f7f7;
    gap: 1rem;
    padding: 2rem;
  }
  .groupped-iformation-section .row-business-detail {
    width: 100% !important;
    background-color: #fff;
    border-radius: 0.5rem;
    max-height: 37.8rem;
  }
  .groupped-iformation-section .row-business-detail .scrolled-description {
    max-height: 32rem;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .groupped-iformation-section .row-business-detail .row-business-image-slide {
    border-radius: 0.4rem;
  }
  .groupped-iformation-section .row-business-detail .row-business-image-slide img {
    border-radius: 0.4rem;
  }
  .groupped-iformation-section .row-business-detail .row-business-section-title {
    border-bottom: none !important;
    font-weight: 700;
    color: var(--parsyn-primary);
    background: #f7f7f7;
    border-radius: 0.3rem;
  }
  .absolute-slider {
    display: none;
  }
  .onMobile {
    display: none !important;
  }
  .page-container {
    width: 100%;
    min-height: 30rem;
    height: auto;
  }
  .page-container .page-title-content {
    width: 100%;
    min-height: 20rem;
    background-image: url(/assets/biz/img/bg/texture.png);
    background-repeat: repeat;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5rem;
    gap: 5rem;
  }
  .page-container .page-title-content h1.page-title-text {
    color: #ffcd0a;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page-container .page-title-content .page-bread-crumb {
    width: 100%;
    height: 5rem;
  }
  .page-container .page-title-content .page-bread-crumb .page-bread-crumb-items {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: row;
  }
  .page-container .page-title-content .page-bread-crumb .page-bread-crumb-items a:first-child {
    color: var(--parsyn-secondary);
  }
  .page-container .page-title-content .page-bread-crumb .page-bread-crumb-items a:not(:first-child) {
    text-decoration: none;
    color: #dcdcdc;
    position: relative;
  }
  .page-container .page-title-content .page-bread-crumb .page-bread-crumb-items a:not(:first-child):before {
    content: "\f053";
    font-family: "Font Awesome 6 Pro" !important;
    width: 0.7rem;
    height: 1rem;
    position: absolute;
    right: -0.8rem;
    top: calc((100% - 1.1rem) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page-container .page-title-content .page-bread-crumb .page-bread-crumb-items a:not(:first-child):hover {
    color: var(--parsyn-secondary) !important;
  }
  .page-container .page-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .page-container .page-content .page-content-raw:not(.column-base) {
    padding: 4rem !important;
  }
  .page-container .page-content .page-content-raw.column-base {
    display: flex;
    flex-direction: column;
  }
  .page-container .page-content .page-content-raw.column-base .page-content-column.column-left {
    width: 100%;
  }
  .page-container .page-content .page-content-raw.column-base .page-content-column.column-right {
    width: 100%;
    direction: ltr;
    padding-right: 5rem;
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .page-container .page-content .page-content-raw.column-base .page-content-column.column-right h3 {
    direction: rtl;
  }
  .page-container .page-content .page-content-raw.column-base .page-content-column.column-right form.form-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: #f3f3f3;
    border-radius: 0.4rem;
    padding: 2rem;
  }
  .page-container .page-content .page-content-raw.column-base .page-content-column.column-right form.form-content .form-content-col {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
  .page-container .page-content .page-content-raw.column-base .page-content-column.column-right form.form-content .form-content-col label.form-input-label {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    direction: rtl;
  }
  .page-container .page-content .page-content-raw.column-base .page-content-column.column-right form.form-content .form-content-col .form-input {
    height: 2.4rem;
    border: none;
    border-radius: 0.3rem;
    outline-color: var(--parsyn-secondary);
    outline-width: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .page-container .page-content .page-content-raw.column-base .page-content-column.column-right form.form-content .form-content-col .form-input.large-input {
    min-height: 10rem;
    max-height: 10rem;
    min-width: 100%;
    max-width: 100%;
  }
  .page-container .page-content .page-content-raw.column-base .page-content-column.column-right form.form-content .form-content-col button.form-submit {
    height: 2.5rem;
    background-color: #a5d0d9;
    border: none;
    border-radius: 0.2rem;
    color: var(--parsyn-primary);
    transition: background-color 0.5s ease-in-out;
    font-weight: 700;
  }
  .page-container .page-content .page-content-raw.column-base .page-content-column.column-right form.form-content .form-content-col button.form-submit:hover {
    background-color: var(--parsyn-primary);
    color: var(--parsyn-secondary);
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
  }
  .page-container .page-content .row-business-detail {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    min-height: 30rem;
    overflow: hidden;
    flex-wrap: wrap;
  }
  .page-container .page-content .row-business-detail .column-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .page-container .page-content .row-business-detail .column-detail .column-detail-img {
    min-height: 16rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page-container .page-content .row-business-detail .column-detail .column-detail-img img {
    width: auto;
    height: 16rem;
    border-radius: 0.5rem;
    border: 0.15rem solid var(--parsyn-primary);
    padding: 0.4rem;
  }
  .page-container .page-content .row-business-detail .column-detail .column-detail-region {
    width: 100%;
    color: #6f6f6f;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page-container .page-content .row-business-detail .column-detail .column-detail-region span {
    font-weight: 500;
    font-size: 1.1em;
  }
  .page-container .page-content .row-business-detail .column-detail .column-detail-share-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }
  .page-container .page-content .row-business-detail .column-detail .column-detail-name {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 5rem;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
  }
  .page-container .page-content .row-business-detail .column-detail .column-detail-name h5.decorated-persian {
    background-color: #9ccf6d;
    color: var(--parsyn-primary);
    padding: 0.2rem;
    border-radius: 0.15rem;
    padding-right: 0.4rem !important;
    padding-left: 0.4rem !important;
    font-size: 1.1em;
  }
  .page-container .page-content .row-business-detail .column-detail .column-detail-name h1 {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2f3f43;
    font-size: 1.5em;
    font-weight: 300;
  }
  .page-container .page-content .row-business-detail .column-contact {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
    gap: 1rem;
  }
  .page-container .page-content .row-business-detail .column-contact .contact-rows {
    display: flex;
    flex-direction: column;
    direction: ltr;
    width: 40%;
    backdrop-filter: blur(4.3rem);
    background-color: #f9f9f9;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  .page-container .page-content .row-business-detail .column-contact .column-map {
    width: calc(60% - 0.1rem);
    background: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  .page-container .page-content .row-business-detail .column-contact .column-map iframe {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
  }
  .page-container .page-content .row-business-detail .column-contact .column-contact-section-row {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .page-container .page-content .row-business-detail .column-contact .column-contact-section-row .column-contact-row-title {
    display: flex;
    align-items: center;
    height: 3rem;
    gap: 1rem;
    color: var(--parsyn-primary);
  }
  .page-container .page-content .row-business-detail .column-contact .column-contact-section-row .column-contact-row-description {
    width: 100%;
    height: 2rem;
    padding-right: 0rem;
    color: #465558;
    font-weight: 200;
  }
  .page-container .page-content .row-business-detail .row-business-section-info {
    width: 100%;
  }
  .page-container .page-content .row-business-detail .row-business-section-info .row-business-section-title {
    height: 3rem;
    display: flex;
    align-items: center;
    padding-right: 1rem;
    border-bottom: 0.2rem solid var(--parsyn-primary);
    margin-bottom: 0.5rem;
  }
  .page-container .page-content .row-business-detail .row-business-section-info .row-business-section-description {
    height: 100%;
    max-height: 100%;
  }
  .page-container .page-content .row-business-detail .row-business-section-info .row-business-section-description iframe {
    width: 100%;
    border: none;
    height: 30rem;
  }
  .page-container .page-content .row-business-detail .row-business-section-info .row-business-section-description .row-business-image-slider-holder {
    max-height: 100%;
    height: 100%;
  }
  .page-container .page-content .row-business-detail .row-business-section-info .row-business-section-description .row-business-image-slider-holder .row-business-image-slider {
    height: 100%;
    width: 100%;
  }
  .page-container .page-content .row-business-detail .row-business-section-info .row-business-section-description .row-business-image-slider-holder .row-business-image-slider .row-business-image-wrapper {
    width: 100%;
    height: 100%;
  }
  .page-container .page-content .row-business-detail .row-business-section-info .row-business-section-description .row-business-image-slider-holder .row-business-image-slider .row-business-image-wrapper .row-business-image-slide {
    width: 100%;
    height: 100%;
  }
  .page-container .page-content .row-business-detail .row-business-section-info .row-business-section-description .row-business-image-slider-holder .row-business-image-slider .row-business-image-wrapper .row-business-image-slide img {
    width: 100%;
  }
  main.main-container {
    width: 100%;
    overflow: hidden;
  }
  main.main-container header.header {
    width: 100%;
    height: 2.5rem;
    background: rgba(0, 0, 0, 0.52);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 2rem;
    box-sizing: border-box;
    position: fixed;
    z-index: 99999999;
  }
  main.main-container header.header.active {
    background-color: var(--parsyn-secondary);
  }
  main.main-container header.header.active .header-img img {
    filter: brightness(0) !important;
  }
  main.main-container header.header.active a.header-menu-link {
    color: var(--parsyn-primary) !important;
  }
  main.main-container header.header .header-img {
    width: 5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main.main-container header.header .header-img img {
    filter: brightness(1) !important;
  }
  main.main-container header.header a.header-icon.toggleSidebar {
    display: none;
  }
  main.main-container header.header .header-menu-holder {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 3rem;
    flex-direction: row;
  }
  main.main-container header.header .header-menu-holder a.header-menu-link {
    display: flex;
    text-decoration: none;
    color: #e4e4e4;
    font-size: 0.9em;
  }
  main.main-container section.main-section {
    width: 100vw;
    max-height: 100%;
    background-image: url(/assets/biz/img/bg/texture.png);
    background-repeat: repeat;
    background-position: top;
    display: flex;
    align-items: center;
    flex-direction: column !important;
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  main.main-container section.main-section .fluid-search-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: 1rem;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-categories, main.main-container section.main-section .fluid-search-section .fluid-search-options, main.main-container section.main-section .fluid-search-section .fluid-search-options-section {
    min-height: 28.5rem !important;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-categories {
    width: 48%;
    box-sizing: border-box;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options {
    width: 50%;
    background: rgba(0, 0, 0, 0.1490196078);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options .mdl-header {
    width: 100%;
    height: 3.5rem;
    background-color: rgba(2, 41, 34, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options .mdl-header h1 {
    font-size: 1em;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options .mdl-content-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options .mdl-content-form .search-btn-holder {
    width: 95%;
    height: 2.9rem;
    background-color: var(--parsyn-primary);
    border-radius: 0.5rem;
    color: #fff;
    box-shadow: 0rem 0.2rem 0rem 0rem #031d22;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: all 0.3s ease-in-out;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options .mdl-content-form .search-btn-holder:hover {
    transition: all 0.3s ease-in-out;
    box-shadow: none;
    cursor: pointer;
    color: var(--parsyn-secondary);
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options .mdl-content-form .search-btn-holder span {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 0.9em;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options .mdl-content-form .mile-slider {
    width: 95%;
    background: rgb(238, 239, 240);
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    direction: ltr;
    min-height: 8rem !important;
    gap: 2.4rem;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options .mdl-content-form .mile-slider .mile-slider-title {
    font-weight: 200;
    direction: rtl;
    font-size: 0.85em;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options .mdl-content-form .mile-slider label {
    font-size: 0.8em;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options .grouped-input {
    width: 95%;
    height: 2.8rem;
    border: none;
    background-color: rgba(245, 245, 245, 0.6509803922);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options .grouped-input span {
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background: rgb(7, 49, 58);
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    color: #fecc03;
    cursor: pointer;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options .grouped-input input {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    width: calc(100% - 2.8rem) !important;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options input:not([type=range]) {
    width: 95%;
    height: 2.8rem;
    outline: none;
    border: none;
    background-color: rgba(245, 245, 245, 0.89);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    padding-right: 1rem;
    font-weight: 300;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options-section {
    width: 100%;
    background: rgba(255, 255, 255, 0.1215686275);
    border-radius: 0.5rem;
    backdrop-filter: blur(0.1rem);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;
    gap: 0.5rem;
    transform: scale3d(0, 0, 0);
    transition: transform 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    height: 0 !important;
    overflow: hidden;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options-section.active {
    height: auto !important;
    overflow-y: unset !important;
    transform: scale3d(1, 1, 1);
    transition: transform 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options-section .fluid-search-result-filter {
    width: 100%;
    background: rgba(255, 255, 255, 0.1215686275);
    border-radius: 0.5rem;
    backdrop-filter: blur(0.1rem);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;
    gap: 0.5rem;
    transform: scale3d(0, 0, 0);
    transition: transform 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    height: 0 !important;
    overflow: hidden;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options-section .fluid-search-result-filter.active {
    height: auto !important;
    overflow-y: unset !important;
    transform: scale3d(1, 1, 1);
    transition: transform 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options-section .fluid-search-result-filter .filters-holder {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 3rem;
    align-items: center;
    justify-content: center;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    gap: 0.8rem;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options-section .fluid-search-result-filter .filters-holder i.fal.fa-filter {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7490196078);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    color: var(--parsyn-primary);
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options-section .fluid-search-result-filter .filters-holder span {
    width: 6rem;
    color: #ececec;
    font-size: 0.9em;
    font-weight: bolder;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options-section .fluid-search-result-filter .filters-holder .filters {
    width: calc(100% - 10rem);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: end;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options-section .fluid-search-result-filter .filters-holder .filters a {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 0.1rem solid rgba(4, 30, 36, 0.5294117647);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #dfdfdf;
    background-color: rgba(46, 82, 90, 0.5294117647);
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options-section .fluid-search-result-filter .filters-holder .filters a:hover {
    background-color: var(--parsyn-primary) !important;
    color: var(--parsyn-secondary) !important;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options-section .fluid-search-result {
    height: calc(100% - 5rem);
    width: 95%;
    background: rgba(255, 255, 255, 0.1098039216);
    border-radius: 0.2rem;
    overflow-y: scroll;
    max-height: 22rem;
    position: relative;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options-section .fluid-search-result .search-result-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(0.2rem);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options-section .fluid-search-result .search-result-loading.active {
    transform: scale(1) !important;
    transition: transform 0.2s ease-in-out;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options-section .fluid-search-result .search-result-loading img {
    width: 10rem;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options-section .fluid-search-result .fluid-search-items {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
    height: auto;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options-section .fluid-search-result .fluid-search-items .result-item {
    width: 49%;
    background: #f6f6f6;
    height: 10.3rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    overflow: hidden;
    border-radius: 0.2rem;
    text-decoration: none;
    color: var(--parsyn-primary);
    border: 0.12rem solid #cfcfcf;
    direction: ltr;
    flex-wrap: wrap;
    row-gap: 0 !important;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options-section .fluid-search-result .fluid-search-items .result-item h4 {
    width: 100%;
    height: 2.1rem;
    font-weight: bolder;
    display: flex;
    padding-left: 0.5rem;
    margin: 0 !important;
    align-items: center;
    background: #f9f9f9;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options-section .fluid-search-result .fluid-search-items .result-item.empty {
    border-style: dashed !important;
    border-width: 0.1rem !important;
    align-items: center;
    justify-content: center;
    background: rgba(227, 227, 227, 0.5803921569) !important;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options-section .fluid-search-result .fluid-search-items .result-item .result-item-img-holder {
    width: 8rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options-section .fluid-search-result .fluid-search-items .result-item .result-item-img-holder img {
    width: 100%;
    height: 100%;
    border-radius: 0.2rem;
    border: 0.015rem solid rgba(7, 49, 58, 0.3215686275);
    object-fit: cover;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options-section .fluid-search-result .fluid-search-items .result-item .result-item-description-holder {
    width: calc(100% - 8.5rem);
    display: flex;
    flex-direction: column;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options-section .fluid-search-result .fluid-search-items .result-item .result-item-description-holder h4.result-item-title {
    width: 100%;
    text-decoration: none;
    color: #092930;
    font-size: 0.9em;
    height: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-weight: 300;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options-section .fluid-search-result .fluid-search-items .result-item .result-item-description-holder h4.result-item-title-fa {
    font-size: 0.7em !important;
    background-color: #9ccf6d;
    min-width: 34%;
    max-width: 95%;
    width: auto !important;
    height: 24% !important;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #001a1f;
    font-weight: 700;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options-section .fluid-search-result .fluid-search-items .result-item .result-item-description-holder .result-item-subtitle {
    height: 25%;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    font-weight: 700;
  }
  main.main-container section.main-section .fluid-search-section .fluid-search-options-section .fluid-search-result .fluid-search-items .result-item .result-item-description-holder .result-item-subtitle1 {
    height: 17%;
    font-size: 0.7em;
    font-weight: 500;
  }
  main.main-container section.main-section .top-logo-big {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
  }
  main.main-container section.main-section .top-logo-big h2 {
    font-family: "rastin";
    color: #fff;
    font-size: 3em;
    text-shadow: 0.1rem 0.2rem 0.2rem BLACK;
  }
  main.main-container section.main-section .top-logo-big h5 {
    color: var(--parsyn-secondary);
    font-size: 1.1em;
    font-weight: bold;
  }
  main.main-container section.main-section .row2-mainsection {
    display: none;
  }
  main.main-container section.main-section .row3-mainsection {
    display: none;
  }
  .page2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 40rem;
  }
  .page2 .page2-row1 {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  .page2 .page2-row1 img {
    width: 20%;
  }
  .page2 .page2-row1 h3 {
    text-align: center;
    display: none;
  }
  .page2 .page2-row1 p {
    text-align: center;
    margin-top: 1rem;
    width: 80%;
  }
  .page2 .page2-row1 .page2-row2 {
    width: 100%;
    height: 20rem;
  }
  .page2 .page2-row1 .page2-row2 section {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .page2 .page2-row1 .page2-row2 section div {
    width: 48%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .page2 .page2-row1 .page2-row2 section div span {
    font-size: 3em;
  }
  .page3 {
    width: 100%;
    height: 33rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
  }
  .page3 p {
    margin-bottom: 1rem;
  }
  .page3 .page3-main-box {
    width: 30%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .page3 .page3-main-box .p3-icon-right {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -2rem;
    bottom: 9rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.1rem solid gray;
    color: gray;
    position: absolute;
    background-color: white;
  }
  .page3 .page3-main-box .p3-icon-left {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20rem;
    bottom: 9rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.1rem solid gray;
    position: absolute;
    background-color: white;
  }
  .page3 .page3-main-box section {
    margin-top: 3.5px;
    width: 100%;
    height: 48%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page3 .page3-main-box section .p3-box1, .page3 .page3-main-box section .p3-box2 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .page3 .page3-main-box section .p3-box1 img, .page3 .page3-main-box section .p3-box2 img {
    width: 100%;
  }
  .page3 .page3-main-box section .p3-box1 .overly, .page3 .page3-main-box section .p3-box2 .overly {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 22, 38, 0.77);
    text-decoration: none;
    color: #fff;
    text-align: center;
  }
  .page3 .page3-main-box section .p3-box1 {
    width: 48%;
    height: 95%;
    border: 0.1rem solid gray;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }
  .page3 .page3-main-box section .p3-box2 {
    width: 48%;
    height: 95%;
    border: 0.1rem solid gray;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
  .page4 {
    width: 100vw;
    height: 65vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .page4 .page4-row1 {
    width: 80%;
    height: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-right: 1rem;
    padding-left: 2rem;
    box-sizing: border-box;
    position: relative;
  }
  .page4 .page4-row1 a.slide-right, .page4 .page4-row1 a.slide-left {
    position: absolute;
    right: -1.3rem;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.1em;
    top: calc((100% - 2rem) / 2);
    font-weight: bolder;
  }
  .page4 .page4-row1 a.slide-left {
    left: -1.3rem;
    right: unset !important;
  }
  .page4 .page4-row1 section {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.8rem;
  }
  .page4 .page4-row1 section div {
    min-width: 5rem;
    height: 2.5rem;
    border: 0.1rem solid gray;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page4 .page4-row1 section div.active {
    border-color: #181a00;
    background-color: rgb(24, 26, 0);
    color: #ffcd03;
  }
  .page4 .page4-row2 {
    width: 95%;
    height: 90%;
    border-radius: 1rem;
    overflow-y: scroll;
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    direction: ltr !important;
    padding-left: 0.5rem;
  }
  .page4 .page4-row2 .row2-main-box {
    width: 100%;
    height: 27rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
  }
  .page4 .page4-row2 .row2-main-box .row2-mainsection {
    width: 20rem;
    height: 7rem;
    background-color: white;
    border-radius: 0.5rem;
    border: 0.1rem solid gray;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 6px;
    text-decoration: none;
  }
  .page4 .page4-row2 .row2-main-box .row2-mainsection .r5-box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.5rem;
    height: 100%;
  }
  .page4 .page4-row2 .row2-main-box .row2-mainsection .r5-box1 img {
    width: 70%;
  }
  .page4 .page4-row2 .row2-main-box .row2-mainsection .r5-box2 .box-title {
    color: var(--parsyn-primary);
    font-size: 0.8em;
  }
  .page4 .page4-row2 .row2-main-box .row2-mainsection .r5-box2 .box-subtitle1 {
    color: var(--parsyn-passive-text-l1);
  }
  .page4 .page4-row2 .row2-main-box .row2-mainsection .r5-box2 .box-subtitle2 {
    color: var(--parsyn-passive-text-l2);
  }
  .page4 .p4-section-right {
    position: absolute;
    top: 4.5rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.1rem solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }
  .page4 .p4-section-left {
    position: absolute;
    top: 4.5rem;
    left: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: white;
    border: 0.1rem solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page5 {
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page5 section {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .page5 section img {
    width: 15rem;
  }
  .page5 section p {
    text-align: center;
    color: var(--parsyn-primary);
  }
  .page5 section div {
    margin-top: 2rem;
    width: 50%;
    height: 3rem;
    border: 0.1rem solid gray;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    direction: ltr;
  }
  .page5 section div a {
    width: 5.5rem;
    background: #e5e5e5;
    height: 100%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--parsyn-primary);
    font-weight: 200;
  }
  .page5 section div a:hover {
    background-color: var(--parsyn-primary);
    color: var(--parsyn-secondary);
  }
  .page5 section div input {
    width: calc(100% - 5.5rem);
    height: 98%;
    border: none;
    outline: none;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    padding-left: 1rem;
    font-weight: 700;
  }
  .page6 {
    width: 100%;
    height: 42rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .page6 section {
    width: 95%;
    height: 90%;
    border-radius: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    padding-top: 0.5rem;
    gap: 1rem;
    padding-right: 1rem;
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: column;
  }
  .page6 section .page4-row1 {
    width: 100%;
    height: 9rem;
    background-color: #f7f9f8;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 1rem;
    box-sizing: border-box;
    position: relative;
    gap: 5rem;
  }
  .page6 section .page4-row1 h2 {
    height: auto;
  }
  .page6 section .page4-row1 img {
    width: 8rem;
  }
  .page6 section .page4-row1 span.tagged {
    position: absolute;
    right: 2rem;
    height: 2rem;
    min-width: 7rem;
    background-color: #181a00;
    color: #ffcd03;
    border-radius: 0.2rem;
    padding: 0.2rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    top: 2rem;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
  }
  .page6 section .page4-row2 {
    width: 100%;
    height: 25rem;
    border-radius: 1rem;
    overflow-y: scroll;
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    direction: ltr !important;
    padding-left: 0.5rem;
  }
  .page6 section .page4-row2 .special-box {
    width: 48.5%;
    height: 10.3rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 0.1rem solid rgb(219, 219, 219);
    margin-top: 0.5rem;
    direction: ltr;
    column-gap: 0.5rem;
    position: relative;
    text-decoration: none;
    color: var(--parsyn-primary);
    background-color: #fff;
  }
  .page6 section .page4-row2 .special-box.empty {
    border-style: dashed !important;
    text-align: center;
    justify-content: center;
    background-color: rgba(227, 227, 227, 0.5803921569);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page6 section .page4-row2 .special-box .special-box-img-holder {
    width: 8rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 0.2rem;
    padding-left: 0.2rem;
    padding-bottom: 0.2rem;
  }
  .page6 section .page4-row2 .special-box .special-box-img-holder img {
    width: 100%;
    border-radius: 0.2rem;
    border: 0.015rem solid rgba(7, 49, 58, 0.3215686275);
    height: 100%;
    object-fit: contain;
  }
  .page6 section .page4-row2 .special-box a.tagged.special-box-tag {
    position: absolute;
    height: 2rem;
    min-width: 1rem;
    background-color: #181a00;
    color: #fff;
    border-radius: 1rem;
    padding: 0.2rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    text-decoration: none;
    font-weight: lighter;
    font-size: 0.8em;
    vertical-align: middle;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    top: calc((100% - 2rem) / 2);
    right: 1rem;
    display: none;
  }
  .page6 section .page4-row2 .special-box h4.special-box-title {
    /* display: flex
    ; */
    width: 100%;
    height: 2.1rem;
    font-weight: bolder;
    display: flex;
    padding-left: 0.5rem;
    margin: 0 !important;
    align-items: center;
    background: #f9f9f9;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bolder;
  }
  .page6 section .page4-row2 .special-box .special-box-content {
    width: calc(100% - 8.7rem);
    box-sizing: border-box;
    max-height: 8rem;
    padding-top: 0.5rem;
    padding-bottom: 0;
  }
  .page6 section .page4-row2 .special-box .special-box-content h6.special-box-subtitle {
    font-size: 0.7em !important;
    background-color: #feb04d;
    min-width: 34%;
    max-width: 95%;
    width: auto !important;
    height: 24% !important;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #001a1f;
    font-weight: 700;
  }
  .page6 section .page4-row2 .special-box .special-box-content p.special-box-description {
    width: 100%;
    height: 40%;
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 200;
  }
  .page6 section .page4-row2 .special-box .special-box-content p.special-box-description span {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    font-weight: 500;
  }
  .page6 section .page4-row2 .special-box p {
    color: gray;
  }
  .footer {
    width: 100%;
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(65, 65, 65);
    background-image: url(/assets/biz/img/bg/cbw.png);
    background-repeat: repeat;
  }
  .footer a {
    text-decoration: none;
  }
  .footer .footer-row1 {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
  }
  .footer .footer-row1 h2 {
    font-family: "rastin";
    color: #fff;
    font-size: 3em;
    text-shadow: 0.1rem 0.2rem 0.2rem BLACK;
  }
  .footer .footer-row2 {
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .footer .footer-row2 .footer-column {
    width: 30%;
    height: 70%;
    color: var(--parsyn-secondary);
    display: flex;
    margin-bottom: 4rem;
    flex-direction: column;
    gap: 1.5rem;
  }
  .footer .footer-row2 .footer-column p {
    border-bottom: 0.15rem solid var(--parsyn-secondary);
    display: flex;
    width: 100%;
    padding-bottom: 0.5rem;
  }
  .footer .footer-row2 .footer-column div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #cacaca;
  }
  .footer .footer-row2 .footer-column div:not(.center-links) a {
    color: #00b7de !important;
  }
  .footer .footer-row2 .footer-column div.center-links a {
    color: #dcdcdc !important;
  }
  .footer .footer-row3 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer .footer-row3 .footer-r3-r1 {
    width: 8rem;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .footer .footer-row3 .footer-r3-r1 div {
    width: 2rem;
    height: 2rem;
    background-color: #ffcd03;
    border-radius: 50%;
  }
  .footer .footer-row3 .footer-r3-r1 div a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    color: var(--parsyn-primary);
  }
  .footer .footer-row3 .footer-r3-r2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8rem;
    height: 5rem;
  }
  .footer .footer-row4 {
    width: 100%;
    height: 4rem;
    margin-top: 4rem;
  }
  .footer .footer-row4 p {
    text-align: center;
    color: white;
  }
  .footer .footer-row4 a {
    color: var(--parsyn-secondary);
    text-align: center;
  }
  .mdl-main-container {
    width: 100%;
    min-height: 100%;
    direction: rtl;
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .mdl-main-container .mdl-header {
    width: 100%;
    height: 3.5rem;
    background-color: rgba(2, 41, 34, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .mdl-main-container .mdl-header h1 {
    font-size: 1em;
  }
  .mdl-main-container .mdl-content {
    width: 100%;
    overflow-y: hidden;
    padding-top: 0.2rem;
  }
  .mdl-main-container .mdl-content .mdl-main-content {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    border-radius: 0.5rem;
    background-color: rgba(253, 233, 253, 0.479);
    overflow-x: hidden;
    max-height: 29rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .mdl-main-container .mdl-content .mdl-main-content .mdl-main-section {
    padding-right: 0.4rem;
  }
  .mdl-main-container .mdl-content .mdl-main-content .mdl-main-section .mdl-section-l1:not(:first-child) {
    margin-top: 0.2rem;
  }
  .mdl-main-container .mdl-content .mdl-main-content .mdl-main-section .mdl-section {
    width: 98%;
    height: auto;
    border-radius: 0.5rem;
    border-top: 0.15rem solid rgb(238, 5, 187);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    flex-direction: column;
    text-decoration: none;
  }
  .mdl-main-container .mdl-content .mdl-main-content .mdl-main-section .mdl-section .expandable-panel {
    transition: all 0.5s ease-in-out;
    height: 0;
    overflow: hidden;
    width: 100%;
    background-color: #f2f2f2;
  }
  .mdl-main-container .mdl-content .mdl-main-content .mdl-main-section .mdl-section .expandable-panel .mdl-section {
    background-color: transparent;
    width: 100% !important;
  }
  .mdl-main-container .mdl-content .mdl-main-content .mdl-main-section .mdl-section .expandable-panel .mdl-section:hover, .mdl-main-container .mdl-content .mdl-main-content .mdl-main-section .mdl-section .expandable-panel .mdl-section.active {
    background: #fff !important;
  }
  .mdl-main-container .mdl-content .mdl-main-content .mdl-main-section .mdl-section .expandable-panel.active {
    transition: all 0.5s ease-in-out;
    height: auto !important;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .mdl-main-container .mdl-content .mdl-main-content .mdl-main-section .mdl-section .mdl-list-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 2.5rem;
  }
  .mdl-main-container .mdl-content .mdl-main-content .mdl-main-section .mdl-section .mdl-list-header.parent {
    transition: background-color 0.2s cubic-bezier(0, -0.05, 0.55, 0.1);
    cursor: pointer;
  }
  .mdl-main-container .mdl-content .mdl-main-content .mdl-main-section .mdl-section .mdl-list-header.parent:hover {
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    color: #fff !important;
    font-weight: 700 !important;
    transition: background-color 0.2s cubic-bezier(0, -0.05, 0.55, 0.1);
  }
  .mdl-main-container .mdl-content .mdl-main-content .mdl-main-section .mdl-section .mdl-list-header.parent:hover .cat-icon {
    color: #fff !important;
  }
  .mdl-main-container .mdl-content .mdl-main-content .mdl-main-section .mdl-section .mdl-list-header.parent:hover .mdl-box-text h3 {
    font-weight: bold;
    color: #838383;
  }
  .mdl-main-container .mdl-content .mdl-main-content .mdl-main-section .mdl-section .mdl-box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    /*border-left: .1rem solid gray;*/
  }
  .mdl-main-container .mdl-content .mdl-main-content .mdl-main-section .mdl-section .mdl-box-icon i {
    font-size: 1.2em;
  }
  .mdl-main-container .mdl-content .mdl-main-content .mdl-main-section .mdl-section .mdl-box-text {
    width: 15rem;
    display: flex;
    align-items: center;
    padding-right: 1rem;
  }
  .mdl-main-container .mdl-content .mdl-main-content .mdl-main-section .mdl-section .mdl-box-text h3 {
    font-size: 0.85em;
  }
  .mdl-main-container .mdl-content .mdl-main-content .mdl-main-section .mdl-section .mdl-box-text h3:not(.parent-title) {
    color: #838383;
  }
  .mdl-main-container .mdl-content .mdl-main-content .mdl-main-section .mdl-section .mdl-icon2 {
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
