@font-face {
    font-family: 'Rastin';
    src: url('./DigiRastinPlusRectangle.eot');
    src: url('./DigiRastinPlusRectangle.eot?#iefix') format('embedded-opentype'),
        url('./DigiRastinPlusRectangle.woff2') format('woff2'),
        url('./DigiRastinPlusRectangle.woff') format('woff'),
        url('./DigiRastinPlusRectangle.ttf') format('truetype'),
        url('./DigiRastinPlusRectangle.svg#DigiRastinPlusRectangle') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

